@using OnlineDoctorSystem.Common
@using OnlineDoctorSystem.Web.Infrastructure.Extensions;
@model IEnumerable<OnlineDoctorSystem.Web.ViewModels.Consultations.ConsultationViewModel>

@{
	this.ViewData["Title"] = "Моите консултации";
}

<div class="text-center">
	<h1>@this.ViewData["Title"]</h1>
	<a class="btn btn-success" asp-controller="Consultation" asp-action="UserCalendar">Виж в календарен вид</a>
</div>

<br />
@if (this.User.IsPatient())
{
	<div class="text-center">
		<h2>Предстоящи консултации</h2>
		<table class="table table-striped table-hover table-sm d-flex justify-content-center">
			<tr>
				<th>Дата</th>
				<th>Начален час</th>
				<th>Краен час</th>
				<th>Доктор</th>
				<th>Описание</th>
				<th>Анулиране</th>
			</tr>
			@foreach (var consultation in Model.Where(x => x.IsActive && x.IsConfirmed == true))
			{
				<tr>
					<th>@consultation.Date.ToShortDateString()</th>
					<th>@consultation.StartTime</th>
					<th>@consultation.EndTime</th>
					<th>@consultation.DoctorName</th>
					<th>@consultation.Description</th>

					<th>
						<a asp-controller="Consultation" asp-action="RemoveConsultation" asp-route-eventId="@consultation.EventId" class="btn btn-danger">АНУЛИРАНЕ</a>
					</th>
				</tr>
			}
		</table>
		<hr />
		<h2>Отминали консултации</h2>
		<table class="table table-striped table-hover table-sm d-flex justify-content-center">
			<tr>
				<th>Дата</th>
				<th>Начален час</th>
				<th>Краен час</th>
				<th>Доктор</th>
				<th>Описание</th>
				<th>Качи отзив</th>
			</tr>
			@foreach (var consultation in Model.Where(x => !x.IsActive && !x.IsDeleted))
			{
				<tr>
					<th>@consultation.Date.ToShortDateString()</th>
					<th>@consultation.StartTime</th>
					<th>@consultation.EndTime</th>
					<th>@consultation.DoctorName</th>
					<th>@consultation.Description</th>
					<th><a asp-controller="Review" asp-action="Add" asp-route-doctorId="@consultation.DoctorId" class="btn btn-success">ОТЗИВ</a></th>
				</tr>
			}
		</table>
		<h2>Анулирани консултации</h2>
		<table class="table table-striped table-hover table-sm d-flex justify-content-center">
			<tr>
				<th>Дата</th>
				<th>Начален час</th>
				<th>Краен час</th>
				<th>Доктор</th>
				<th>Описание</th>
			</tr>
			@foreach (var consultation in Model.Where(x => !x.IsActive && x.IsDeleted))
			{
				<tr>
					<th>@consultation.Date.ToShortDateString()</th>
					<th>@consultation.StartTime</th>
					<th>@consultation.EndTime</th>
					<th>@consultation.DoctorName</th>
					<th>@consultation.Description</th>
				</tr>
			}
		</table>
	</div>
}
else
{
	<div class="text-center">
		<h2>Предстоящи консултации</h2>
		<table class="table table-striped table-hover table-sm d-flex justify-content-center">
			<tr>
				<th>Дата</th>
				<th>Начален час</th>
				<th>Краен час</th>
				<th>Пациент</th>
				<th>Описание</th>
				<th>Анулиране</th>
			</tr>
			@foreach (var consultation in Model.Where(x => x.IsActive && x.IsConfirmed == true))
			{
				<tr>
					<th>@consultation.Date.ToShortDateString()</th>
					<th>@consultation.StartTime</th>
					<th>@consultation.EndTime</th>
					<th>@consultation.PatientName</th>
					<th>@consultation.Description</th>
					<th>
						<a asp-controller="Consultation" asp-action="RemoveConsultation" asp-route-eventId="@consultation.EventId" class="btn btn-danger">АНУЛИРАНЕ</a>
					</th>
				</tr>
			}
		</table>
		<hr />
		<h2>Отминали консултации</h2>
		<table class="table table-striped table-hover table-sm d-flex justify-content-center">
			<tr>
				<th>Дата</th>
				<th>Начален час</th>
				<th>Краен час</th>
				<th>Пациент</th>
				<th>Описание</th>
				<th>Предписание</th>
			</tr>
			@foreach (var consultation in Model.Where(x => !x.IsActive && !x.IsDeleted))
			{
				<tr>
					<th>@consultation.Date.ToShortDateString()</th>
					<th>@consultation.StartTime</th>
					<th>@consultation.EndTime</th>
					<th>@consultation.PatientName</th>
					<th>@consultation.Description</th>
					<th><a asp-controller="Prescription" asp-action="Add" asp-route-patientId="@consultation.PatientId" class="btn btn-success">ДОБАВИ</a></th>
				</tr>
			}
		</table>
		<h2>Анулирани консултации</h2>
		<table class="table table-striped table-hover table-sm d-flex justify-content-center">
			<tr>
				<th>Дата</th>
				<th>Начален час</th>
				<th>Краен час</th>
				<th>Пациент</th>
				<th>Описание</th>
			</tr>
			@foreach (var consultation in Model.Where(x => !x.IsActive && x.IsDeleted))
			{
				<tr>
					<th>@consultation.Date.ToShortDateString()</th>
					<th>@consultation.StartTime</th>
					<th>@consultation.EndTime</th>
					<th>@consultation.PatientName</th>
					<th>@consultation.Description</th>
				</tr>
			}
		</table>
	</div>
}