@using OnlineDoctorSystem.Common
@using OnlineDoctorSystem.Web.Infrastructure.Extensions;
@model IEnumerable<OnlineDoctorSystem.Web.ViewModels.Consultations.ConsultationViewModel>

@{
	this.ViewData["Title"] = "Моите консултации";
}


<div class="modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Modal title</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true"></span>
				</button>
			</div>
			<div class="modal-body">
				<p>Modal body text goes here.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" onclick="document.getElementById('deleteForm').submit();">Да</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<br />
@if (this.User.IsPatient())
{
	<div class="text-center">
		<h2>Предстоящи консултации</h2>
		<table class="table table-striped table-hover table-sm d-flex justify-content-center">
			<tr>
				<th>Дата</th>
				<th>Начален час</th>
				<th>Краен час</th>
				<th>Доктор</th>
				<th>Описание</th>
				<th>Анулиране</th>
			</tr>
			@foreach (var consultation in Model.Where(x => x.IsActive && (bool)x.IsConfirmed!))
			{
				<tr>
					<th>@consultation.Date.ToShortDateString()</th>
					<th>@consultation.StartTime</th>
					<th>@consultation.EndTime</th>
					<th>@consultation.DoctorName</th>
					<th>@consultation.Description</th>

					<th>
						<button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">АНУЛИРАНЕ</button>
						<form method="post" asp-controller="Consultation" asp-action="Remove" id="deleteForm" name="deleteForm" asp-route-eventId=@consultation.Id>
						</form>
					</th>
				</tr>
			}
		</table>
		<hr />
		<h2>Отминали консултации</h2>
		<table class="table table-striped table-hover table-sm d-flex justify-content-center">
			<tr>
				<th>Дата</th>
				<th>Начален час</th>
				<th>Краен час</th>
				<th>Доктор</th>
				<th>Описание</th>
				<th>Качи отзив</th>
			</tr>
			@foreach (var consultation in Model.Where(x => !x.IsActive && !x.IsDeleted))
			{
				<tr>
					<th>@consultation.Date.ToShortDateString()</th>
					<th>@consultation.StartTime</th>
					<th>@consultation.EndTime</th>
					<th>@consultation.DoctorName</th>
					<th>@consultation.Description</th>
					<th><a asp-controller="Review" asp-action="Add" asp-route-doctorId="@consultation.DoctorId" class="btn btn-success">ОТЗИВ</a></th>
				</tr>
			}
		</table>
		<h2>Анулирани консултации</h2>
		<table class="table table-striped table-hover table-sm d-flex justify-content-center">
			<tr>
				<th>Дата</th>
				<th>Начален час</th>
				<th>Краен час</th>
				<th>Доктор</th>
				<th>Описание</th>
			</tr>
			@foreach (var consultation in Model.Where(x => !x.IsActive && x.IsDeleted))
			{
				<tr>
					<th>@consultation.Date.ToShortDateString()</th>
					<th>@consultation.StartTime</th>
					<th>@consultation.EndTime</th>
					<th>@consultation.DoctorName</th>
					<th>@consultation.Description</th>
				</tr>
			}
		</table>
	</div>
}
else
{
	<div class="text-center">
		<h2>Предстоящи консултации</h2>
		<table class="table table-striped table-hover table-sm d-flex justify-content-center">
			<tr>
				<th>Дата</th>
				<th>Начален час</th>
				<th>Краен час</th>
				<th>Пациент</th>
				<th>Описание</th>
				<th>Анулиране</th>
			</tr>
			@foreach (var consultation in Model.Where(x => x.IsActive && (bool)x.IsConfirmed!))
			{
				<tr>
					<th>@consultation.Date.ToShortDateString()</th>
					<th>@consultation.StartTime</th>
					<th>@consultation.EndTime</th>
					<th>@consultation.PatientName</th>
					<th>@consultation.Description</th>
					<th>
						<button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">АНУЛИРАНЕ</button>
						<form method="post" asp-controller="Consultation" asp-action="Remove" id="deleteForm" name="deleteForm" asp-route-Id=@consultation.Id>
						</form>
					</th>
				</tr>
			}
		</table>
		<hr />
		<h2>Отминали консултации</h2>
		<table class="table table-striped table-hover table-sm d-flex justify-content-center">
			<tr>
				<th>Дата</th>
				<th>Начален час</th>
				<th>Краен час</th>
				<th>Пациент</th>
				<th>Описание</th>
				<th>Предписание</th>
			</tr>
			@foreach (var consultation in Model.Where(x => !x.IsActive && !x.IsDeleted))
			{
				<tr>
					<th>@consultation.Date.ToShortDateString()</th>
					<th>@consultation.StartTime</th>
					<th>@consultation.EndTime</th>
					<th>@consultation.PatientName</th>
					<th>@consultation.Description</th>
					<th><a asp-controller="Prescription" asp-action="Add" asp-route-patientId="@consultation.PatientId" class="btn btn-success">ДОБАВИ</a></th>
				</tr>
			}
		</table>
		<h2>Анулирани консултации</h2>
		<table class="table table-striped table-hover table-sm d-flex justify-content-center">
			<tr>
				<th>Дата</th>
				<th>Начален час</th>
				<th>Краен час</th>
				<th>Пациент</th>
				<th>Описание</th>
			</tr>
			@foreach (var consultation in Model.Where(x => !x.IsActive && x.IsDeleted))
			{
				<tr>
					<th>@consultation.Date.ToShortDateString()</th>
					<th>@consultation.StartTime</th>
					<th>@consultation.EndTime</th>
					<th>@consultation.PatientName</th>
					<th>@consultation.Description</th>
				</tr>
			}
		</table>
	</div>
}

@*<div class="modal" tabindex="-1" role="dialog" id="deletemodal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<h4>сигурни ли сте, че искате да изтриете консултацията?</h4>
				<p>след това няма да може да я възстановите!</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" onclick="document.getelementbyid('deleteform').submit();">да</button>
				<button type="button" class="btn btn-success" data-dismiss="modal">не</button>
			</div>
		</div>
	</div>
</div>
*@
