@{
	this.ViewData["Title"] = $"Всички доктори";
}

@model OnlineDoctorSystem.Web.ViewModels.Doctors.AllDoctorsViewModel

<div class="col-md-4">
	<div class="card mb-3">
		<img class="card-img-top" src="@Model.ImageUrl" alt="Doctor Image">
		<div class="card-body text-center">
			<h4>@Model.Name</h4>
			<h6>Град: <b>@Model.Town</b></h6>
			<h6>Специалност: <b>@Model.Specialty</b></h6>
			<br />
			<a asp-controller="Doctor" asp-action="Details" asp-route-id="@Model.Id"
			   class="btn btn-success">Детайли</a>
		</div>
	</div>
</div>

<style>
	.card-img-top {
		height: 350px;
		object-fit: fill;
	}
</style>